@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    font-family: 'Roboto';
}

.main-div{
    height: 100vh;
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right 0px top -200px;
}

/* Navbar */
nav{
    padding: 1.5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img[alt = "logo"]{
    width: 8%;
}

.nav-items{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    color: #2c326e;
    font-size: 1rem;
}

.signin-btn{
    background: linear-gradient(90deg,
    #965CF2 0%,
    #FF8BDD 100%);
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
}

nav .fa-bars {
    display: none;
}

/* Intro Section */
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* left section */
.left-section{
    width: 35%;
    padding-left: 90px;
}

.left-section h1{
    font-size: 6rem;
    padding-top: 100px;
    color: #3E4794;
}

.left-section h4{
    width: 80%;
    padding: 40px 0px;
    line-height: 30px;
    color: #3E4794;
    font-size: 1.2rem;
    font-weight: 200;
}

.learn-more-btn{
    background: linear-gradient(90deg,
    #965CF2 0%,
    #FF8BDD 100%);
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5rem;
    border: none;
}

/* right-section */
.imgs-div{
    width: 60%;
    position: relative;
}

.vector-img{
    width: 80px;
    position: absolute;
    bottom: 6rem;
    left: 2rem;
}

.vector-dot{
    width: 15px;
    position: absolute;
    bottom: 10rem;
    left: 5rem;
}

img[alt = "intro-img"]{
    width: 70%;
    position: absolute;
    left: 5rem;
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
    .nav-items {
      display: none;
    }
    nav .fa-bars {
      display: block;
    }
    .main-div{
      height: 100vh;
      background-image: url(../images/backcover.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: right 0px top -200px;
    }
    .intro-section {
      flex-direction: column;
      justify-content: center;
    }
    .imgs-div,
    .left-section {
      width: 100%;
      margin-bottom: 10rem;
    }
    .vector-img{
      width: 80px;
      position: absolute;
      bottom: -35rem;
      left: 5rem;
    }
  
   .vector-dot{
      width: 15px;
      position: absolute;
      bottom: -30rem;
      left: 8rem;
   }

  }
  
  @media only screen and (max-width: 768px) {
    .signin-btn {
      display: none;
    }
    .left-section h1 {
      font-size: 48px;
    }
  }

  @media only screen and (max-width: 575px) {
    .left-section h1 {
      font-size: 36px;
    }
  }