@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    font-family: 'Roboto';
}

.main-div{
    height: 100vh;
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right 0px top -200px;
}

/* Navbar */
nav{
    padding: 1.5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img[alt = "logo"]{
    width: 150px;
}

.nav-items{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    color: #484fa2;
    font-size: 1rem;
}

.signin-btn{
    background: linear-gradient(90deg,
    #965CF2 0%,
    #FF8BDD 100%);
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
    font-size: 1rem;
}

nav .fa-bars {
    display: none;
}

/* Intro Section */
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Left Section */
.left-section{
    padding-left: 5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.left-section>h1{
    color: #3E4794;
    font-size: 6rem;
    font-weight: 500;
}

.left-section>h4{
    color: #3E4794;
    font-size: 1.3rem;
    font-weight: 400;
    width: 80%;
}

.learn-more-btn{
    width: 280px;
    background: linear-gradient(90deg,
    #965CF2 0%,
    #FF8BDD 100%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0rem;
    border-radius: 4rem;
    border: none;
}

/* Imgs Section */
.imgs-div{
    width: 60%;
    position: relative;
}

img[alt = "intro-img"]{
    width: 80%;
}

.vector-img{
    width: 80px;
    position: absolute;
    bottom: 6rem;
    left: 2rem;
}

.vector-dot{
    width: 15px;
    position: absolute;
    bottom: 10rem;
    left: 5rem;
}


/* Responsive Design */
@media only screen and (max-width: 1360px) {
    .left-section>h1{
        font-size: 4.5rem;
    }
    
    .left-section>h4{
        color: #3E4794;
        font-size: 1.2rem;
    }
    
    .learn-more-btn{
        width: 200px;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1024px) {
    .main-div{
    background-image: none;
    }
    .nav-items {
      display: none;
    }
    nav .fa-bars {
      display: block;
    }
    .intro-section {
      flex-direction: column;
      align-items: center;
      gap: 8rem;
    }

    .left-section{
        align-items: center;
    }

    .left-section>h4{
        width: 70%;
    }

    .imgs-div,
    .left-section {
      width: 100%;
      text-align: center;
    }

    .vector-img{
      bottom: 0rem;
      left: 5rem;
    }
  
   .vector-dot{
      bottom: 5rem;
      left: 9rem;
   }

  }
  
  @media only screen and (max-width: 768px) {
    .signin-btn {
      display: none;
    }

    img[alt = "logo"]{
        width: 100px;
    }

  }

  @media only screen and (max-width: 575px) {
    .left-section h1 {
      font-size: 3rem;
    }
  }




